.container {
width: 350px;
margin: 40px auto;
text-align: center;
font-family: Arial, sans-serif;
}


.form {
display: flex;
gap: 8px;
}


input {
flex: 1;
padding: 8px;
}


button {
padding: 8px;
cursor: pointer;
}
ul {
padding: 0;
margin-top: 20px;
}


li {
list-style: none;
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}


.done span {
text-decoration: line-through;
color: gray;
}